<footer class="footer">
    <div class="feet">
        <div class="onefoot">
            <i class="fas fa-credit-card fa-2x"></i>
            <h4>Paga con Tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="onefoot">
            <i class="fas fa-gift fa-2x"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="onefoot">
            <i class="fas fa-user-shield fa-2x"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </div>
    </div>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>